<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Layout</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <div class="app">
        <div class="sidebar">
            <h2 class="sidebar-title">CodeX DevOops</h2>
            <div class="sidebar-menu">
                <a href="#">Servers Map</a>
                <a href="#">SSH keys</a>
            </div>
        </div>
        <div class="servers-map">
            <h1>Servers Map</h1>
            <div class="servers">
                <div class="server">
                    <div class="header">
                        <span>
                            <h2 class="header-title">codex-kepler</h2>
                            <span class="header-status background-ok"></span>
                        </span>
                        <div class="header-ip">15.213.199.12</div>
                    </div>
                    <div class="state">
                        <span class="state-storage">Storage 28 GB / 30 GB</span>
                        <span class="state-cpu">CPU load 12%</span>
                    </div>
                    <div class="nginx">
                        <h2 class="nginx-title">Nginx</h2>
                        <div class="nginx-apps">
                            <span>alpha.hawk.so</span>
                            <span class="offline">alpha.ifmo.su</span>
                            <span class="offline">difual.com</span>
                            <span>editorjs.io</span>
                            <span>hawk.so</span>
                            <span>ifmo.su</span>
                        </div>
                    </div>
                    <div class="services">
                        <h2 class="services-title">Services</h2>
                        <div class="services-service">
                            <span class="services-service-name">MongoDB</span> 
                            <span class="services-service-port color-ok">:2134</span>
                        </div>
                        <div class="services-service">
                            <span class="services-service-name">Redis</span> 
                            <span class="services-service-port color-error">:6000</span>
                        </div>
                    </div>
                    <div class="docker">
                        <h2 class="docker-title">Docker</h2>
                        <div class="docker-param">
                            <span class="docker-param-name">cmtt_nginx</span>
                            <span class="docker-param-days color-ok">4d</span>
                        </div>
                        <div class="docker-param">
                            <span class="docker-param-name">cmtt_fpm</span>
                            <span class="docker-param-days color-ok">4d</span>
                        </div>
                    </div>
                </div>
                <div class="server">
                    <div class="header">
                        <span>
                            <h2 class="header-title">codex-neptune</h2>
                            <span class="header-status background-error"></span>
                        </span>
                        <div class="header-ip">95.213.227.145</div>
                    </div>
                    <div class="state">
                        <span class="state-storage">Storage 12 GB / 30 GB</span>
                        <span class="state-cpu">CPU load 12%</span>
                    </div>
                    <div class="nginx">
                        <h2 class="nginx-title">Nginx</h2>
                        <div class="nginx-apps">
                            <span>workers.hawk.so</span>
                            <span>stage.hawk.so</span>
                        </div>
                    </div>
                    <div class="services">
                        <h2 class="services-title">Services</h2>
                        <div class="services-service">
                            <span class="services-service-name">MongoDB</span> 
                            <span class="services-service-port color-ok">:2134</span>
                        </div>
                        <div class="services-service">
                            <span class="services-service-name">Redis</span> 
                            <span class="services-service-port color-error">:6000</span>
                        </div>
                    </div>
                    <div class="docker">
                        <h2 class="docker-title">Docker</h2>
                        <div class="docker-param">
                            <span class="docker-param-name">hawk_workers</span>
                            <span class="docker-param-days color-ok">16d</span>
                        </div>
                        <div class="docker-param">
                            <span class="docker-param-name">hawk_collector</span>
                            <span class="docker-param-days color-ok">16d</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>