@import 'minireset.css';

.app {
  font-family: Roboto, sans-serif;
  font-size: 14px;
  color: #000000;
  padding: 30px;
  display: flex;
  justify-content: center;
}

a {
  text-decoration: none;
  color: #000000;
}

.sidebar {
  max-width: 200px;
  margin-right: 40px;
  padding-top: 1rem;
  font-size: 16px;
}

.sidebar-title {
  font-weight: bold;
  margin-bottom: 15px;
}

.sidebar-menu a {
  display: block;
  margin-bottom: 10px;
}

.servers-map {
  border-left: 1px solid #e4e4e4;
  padding-left: 50px;
}

.servers-map h1 {
  font-size: 28px;
  font-weight: bold;
  margin-bottom: 20px;
}

.servers {
  display: flex;
  flex-wrap: wrap;
  background: #ff000000;
}

.server {
  border-radius: 6px;
  box-shadow: 0 2px 16px 0 rgba(0, 0, 0, 0.05);
  border: solid 1px #e4e4e4;
  width: 450px;
  min-width: 250px;
  margin-bottom: 25px;
  padding: 25px;
  line-height: 1.6;
}

.header {
  display: flex;
  justify-content: space-between;
  overflow: hidden;
  margin-bottom: 15px;
}

.header-title {
  display: inline-block;
  margin-right: 10px;
  font-size: 18px;
  font-weight: bold;
}

.server:nth-child(odd) {
  margin-right: 25px;
}

.header-status {
  display: inline-block;
  border-radius: 50%;
  width: 10px;
  height: 10px;
  background-color: #e4e4e4;
}

.background-ok {
  opacity: 0.6;
  background: #059721;
}

.background-error {
  opacity: 0.6;
  background: #bf0000;
}

.header-ip {
  font-size: 14px;
  padding: 3.5px 0;
  opacity: 0.6;
  display: inline-block;
}

.state {
  margin-bottom: 25px;
  font-size: 14px;
}

.state-storage {
  margin-right: 20px;
}

.state-storage,
.state-cpu {
  opacity: 0.6;
}

.nginx {
  margin-bottom: 25px;
}

.nginx-title,
.services-title,
.docker-title {
  margin-bottom: 15px;
  font-size: 12px;
  font-weight: 600;
  opacity: 0.6;
  text-transform: uppercase;
}

.nginx-apps span {
  font-size: 13px;
  margin-right: 10px;
}

.offline {
  opacity: 0.6;
}

.color-ok {
  opacity: 0.6;
  color: #059721;
}

.color-error {
  opacity: 0.6;
  color: #bf0000;
}

.services {
  font-size: 13px;
  margin-bottom: 25px;
}

.services-service-name {
  margin-right: 10px;
}

.docker-param-name {
  margin-right: 10px;
}